{% extends "layout.html" %}
{% block body %}
    <hr />
    You said: {{ sentence }}
    <hr />
    <ul>
        <li>In French: {{ translated }}</li>
    </ul>

    <hr />
    <a href="{{ url_for('eng_to_spa_word_translator') }}">Try another one</a>
{% endblock %}