{% extends "layout.html" %}
{% block body %}
    <p>Write something here in English to translate to Lingala (Word-Level)</p>
    <form method=post>
      <p>Write something here: <input type=text name=sentence></p>
         <input type=submit value=Translate>
    </form>
{% endblock %}