{% extends "layout.html" %}
{% block body %}
    <hr />
    You said: {{ sentence }}
    <hr />
    <ul>
        <li>En lingala: {{ translated }}</li>
    </ul>

    <hr />
    <a href="{{ url_for('fra_to_lingala_word_translator') }}">Try another one</a>
{% endblock %}