{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
    <li><a href="{{ url_for('eng_to_fra_char_translator') }}">Eng to French Translation (Char-Level)</a></li>
    <li><a href="{{ url_for('eng_to_cmn_char_translator') }}">Eng to Chinese Translation (Char-Level)</a></li>

     <li><a href="{{ url_for('eng_to_spa_word_translator') }}">Eng to Spanish Translation (Word-Level One Hot Encoding)</a></li>

    <li><a href="{{ url_for('eng_to_fra_word_translator') }}">Eng to French Translation (Word-Level One Hot Encoding)</a></li>
    <li><a href="{{ url_for('eng_to_cmn_word_translator') }}">Eng to Chinese Translation (Word-Level One Hot Encoding)</a></li>
    <li><a href="{{ url_for('eng_to_fra_word_glove_translator') }}">Eng to French Translation (Word-Level GloVe Encoding)</a></li>
    <li><a href="{{ url_for('eng_to_cmn_word_glove_translator') }}">Eng to Chinese Translation (Word-Level GloVe Encoding)</a></li>
  </ul>
{% endblock %}
